* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
}

.button {
  outline: none;
  border-style: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: #EC1D24;
}
.button:hover {
  background-color: #bb1c21;
  cursor: pointer;
}

.btnfixed {
  position: fixed;
  bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

.margin-btn {
  margin-top: 35px;
}

.msg-error {
  color: #bb1c21;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.container-flex {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 4px solid #EC1D24;
  border-top: 4px solid transparent;
  animation: 1s spinner infinite;
  border-radius: 50%;
}

@keyframes spinner {
  to {
    transform: rotate(380deg);
  }
  from {
    transform: rotate(20deg);
  }
}
.header {
  height: 4rem;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
}

.link-logo {
  margin-top: 4px;
  outline: none;
}

.logo {
  height: 50px;
}

.link {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  margin-left: 15px;
}
.link:hover {
  color: #EC1D24;
}

.link-active {
  color: #EC1D24;
}

.title-header {
  text-align: center;
  padding: 12px 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.subheader {
  height: 50px;
  background-color: #F8F8F8;
  margin-bottom: 15px;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.18);
}

@media (max-width: 500px) {
  .header {
    padding: 0 10px;
  }

  .link {
    font-size: 0.9rem;
  }

  .title-header {
    font-size: 1.2rem;
    padding: 14px;
  }
}
@media (max-width: 326px) {
  .header {
    padding: 0 8px;
  }

  .link {
    font-size: 0.7rem;
    margin-left: 8px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  height: 300px;
  width: 280px;
  margin: 30px 30px 10px 30px;
  object-fit: cover;
  border-radius: 5px;
}

.card {
  background-color: #F8F8F8;
  border: 1px solid rgba(107, 107, 107, 0.1);
  border-radius: 5px;
  height: 460px;
  margin: 20px;
}

.card-comic {
  background-color: #F8F8F8;
  border: 1px solid rgba(107, 107, 107, 0.1);
  border-radius: 5px;
  height: 380px;
  margin: 20px;
}

.title {
  text-align: center;
  font-size: 1.2rem;
}

.title-error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}

.container-title {
  width: 290px;
  padding: 15px 20px 0 20px;
}

.title-comic {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.img-comic {
  height: 300px;
  width: 250px;
  margin: 20px;
  border-radius: 5px;
}

.links-character {
  display: flex;
  justify-content: space-evenly;
  margin: 23px 0 25px 0;
}

.link-comic {
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
}

.color-link1 {
  background-color: #EC1D24;
  border: 1px solid transparent;
  transition: 0.2s;
}
.color-link1:hover {
  background-color: #bb1c21;
  cursor: pointer;
}

.color-link2 {
  background-color: #202020;
  border: 1px solid transparent;
  transition: 0.2s;
}
.color-link2:hover {
  background-color: #363636;
  cursor: pointer;
}

.color-link3 {
  text-decoration: none;
  padding: 0.3rem 0.2rem;
  font-weight: 500;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  background-color: transparent;
  color: #EC1D24;
  border: 3px solid #EC1D24;
  transition: 0.2s;
}
.color-link3:hover {
  color: white;
  background-color: #EC1D24;
  cursor: pointer;
}

@media (max-width: 350px) {
  .card {
    margin: 25px 0 0 0;
    height: 470px;
  }

  .img {
    width: 220px;
    height: 300px;
  }

  .img-comic {
    width: 230px;
  }

  .title {
    margin-left: 40px;
    width: 200px;
    overflow: hidden;
  }

  .container-title {
    width: 270px;
    padding: 15px 20px 0 20px;
  }

  .div-title {
    width: 90%;
  }
}
.container-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 129px);
}

.game {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  border: 1px solid rgba(107, 107, 107, 0.1);
  border-radius: 5px;
}

.game-start {
  padding: 2rem;
}

.game-choose {
  padding: 3rem 3rem 3.5rem 3rem;
}

.choose-character {
  display: flex;
  justify-content: space-evenly;
}

.choose-button {
  position: relative;
}

.btn-game {
  outline: none;
  border-style: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: #EC1D24;
  width: 40%;
  margin: 35px auto 0px auto;
}
.btn-game:hover {
  background-color: #bb1c21;
  cursor: pointer;
}

.button-right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.button-left {
  display: flex;
  justify-content: flex-start;
}

.container-img-player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80px;
}

.img-player {
  width: 5rem;
  height: 5rem;
  border: 3px solid #EC1D24;
  object-fit: cover;
  background-color: #EC1D24;
  border-radius: 50%;
  margin: auto;
}

.title-game {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.container-input {
  display: flex;
  flex-direction: column;
}

.input-round {
  width: 30%;
  margin: auto;
  height: 35px;
  font-size: 1.2rem;
  outline: none;
  border: 2px solid #202020;
  border-radius: 2px;
}
.input-round:focus {
  border: 2px solid #EC1D24;
}

.incognit {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  width: 80px;
  text-align: center;
}

.container-vs {
  width: 200px;
  text-align: center;
  margin: 20px 0 0 0;
}

.vs {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: 500;
}

.title-name {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-right: 1rem;
}

.limit-title {
  width: 100px;
}

.btn-start {
  width: 40%;
  margin: 30px auto -20px auto;
}

.btn-ale {
  border-style: none;
  background-color: transparent;
  border: 3px solid #EC1D24;
  padding: 0.3rem;
  color: #EC1D24;
  border-radius: 5px;
  outline: none;
}
.btn-ale:hover {
  color: white;
  background-color: #EC1D24;
  cursor: pointer;
}

@media (max-width: 500px) {
  .game {
    padding: 1.2rem;
    margin: 1rem;
  }

  .title-game {
    font-size: 1.4rem;
  }

  .container-img-player {
    width: 50px;
  }

  .img-player {
    width: 3.5rem;
    height: 3.5rem;
  }

  .incognit {
    font-size: 3rem;
    width: 50px;
  }

  .container-vs {
    width: 80px;
  }

  .vs {
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 500;
  }

  .limit-title {
    width: 80px;
  }

  .btn-start {
    width: 70%;
  }

  .game-choose {
    padding: 2rem 2rem 4rem 2rem;
  }
}
@media (max-width: 326px) {
  .title-game {
    font-size: 1.075rem;
  }

  .container-vs {
    width: 70px;
  }

  .limit-title {
    width: 70px;
  }

  .btn-start {
    width: 80%;
  }

  .game-choose {
    padding: 2rem 1.5rem 4rem 1.5rem;
  }
}
.animation-player {
  animation: 0.4s choose ease-in;
}

@keyframes choose {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.animation-btn {
  animation: 0.4s crazy ease-in;
}

@keyframes crazy {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-battle {
  animation: 2s floatup infinite;
}

@keyframes floatup {
  50% {
    transform: translateY(-15px);
  }
}
.container-battle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(90vh - 129px);
}

.battle-card {
  border: 1px solid rgba(107, 107, 107, 0.3);
  border-radius: 5px;
  background-color: #F8F8F8;
  border: 1px solid rgba(107, 107, 107, 0.1);
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr, 120px, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas: "box1 box4 box7" "box2 box5 box8" "box3 box6 box9";
}

.health-bar {
  border: 2px groove rgba(107, 107, 107, 0.3);
  margin-bottom: 10px;
}

.p1 {
  display: flex;
  flex-direction: row-reverse;
}

.p2 {
  display: flex;
  flex-direction: row;
}

.bar {
  transition: width 1s, background-color 1s;
}

.name-round {
  text-align: center;
  font-weight: 700;
  padding: 0 15px;
  font-size: 1.3rem;
}

.round-win {
  text-align: center;
  font-weight: 700;
}
.round-win span {
  font-weight: 400;
}

.name-player {
  text-align: center;
  font-weight: 500;
}

.number1 {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  position: relative;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.number2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  position: relative;
  left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.box-img-player {
  margin: 40px auto;
}

.limit-nameplayer {
  width: 180px;
}

.div-flex {
  display: flex;
  justify-content: center;
}

.color1 {
  box-shadow: 0px 0px 10px 2px rgba(12, 35, 240, 0.5);
}

.color2 {
  box-shadow: 0px 0px 10px 2px rgba(240, 65, 12, 0.5);
}

@media (max-width: 595px) {
  .battle-card {
    grid-template-columns: repeat(3, 100px);
  }

  .limit-nameplayer {
    width: 100px;
  }

  .number1 {
    right: 0.1rem;
  }

  .number2 {
    left: 0.1rem;
  }
}
@media (max-width: 385px) {
  .battle-card {
    grid-template-columns: repeat(3, 95px);
    padding: 1.5rem;
  }

  .limit-nameplayer {
    width: 80px;
  }
}
@media (max-width: 326px) {
  .battle-card {
    grid-template-columns: repeat(3, 85px);
    padding: 2rem 0.6rem;
  }

  .limit-nameplayer {
    width: 70px;
  }
}
.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
}

.winner {
  padding: 2.5rem 3rem;
}

.title-winner {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}

.text-winner {
  text-align: center;
  margin: 15px 0 30px 0;
}
.text-winner h2 {
  margin-top: 5px;
  font-weight: 400;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn-winner {
  border-style: none;
  background-color: transparent;
  border: 3px solid #EC1D24;
  color: #EC1D24;
  border-radius: 5px;
  outline: none;
  vertical-align: middle;
}
.btn-winner:hover {
  color: white;
  background-color: #EC1D24;
  cursor: pointer;
}

@media (max-width: 595px) {
  .winner {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 385px) {
  .winner {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 326px) {
  .btn-winner {
    font-size: 0.8rem;
  }

  .btn-size {
    font-size: 0.8rem;
  }
}
.container-ranking {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.search input {
  height: 30px;
  width: 250px;
  border-radius: 2px;
  outline: none;
  border: 2px solid #000000;
  padding-left: 8px;
}
.search input:focus {
  border: 2px solid #EC1D24;
}
.search input::placeholder {
  color: rgba(68, 68, 68, 0.7);
}
@media (max-width: 650px) {
  .search {
    margin: 25px auto;
  }
  .search input {
    width: 240px;
  }
}

.container-table {
  width: 600px;
  height: 400px;
  overflow: auto;
}
@media (max-width: 650px) {
  .container-table {
    width: 500px;
    margin: 0 20px 20px 20px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead tr th {
  background-color: #202020;
  padding: 0.7rem;
  color: white;
  font-weight: 400;
  position: sticky;
  top: 0;
}
.table th, .table td {
  text-align: left;
}
.table th:nth-child(1), .table td:nth-child(1) {
  width: 10%;
}
.table th:nth-child(2), .table td:nth-child(2) {
  width: 10%;
}
.table th:nth-child(4), .table td:nth-child(4) {
  width: 20%;
}
.table tbody {
  transition: 0.5s all;
  border: 2px solid rgba(107, 107, 107, 0.1);
}
.table tbody:hover {
  background-color: #ec1d24;
  color: white;
}
.table tbody tr td {
  padding: 0 0.6rem;
}
.table tbody:nth-child(odd) {
  background-color: #f5f5f5;
}
.table tbody:nth-child(odd):hover {
  background-color: #EC1D24;
  color: white;
}

.img-table {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
